body {
	background: #DDD;
}
.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-camp-form {
	display: inline;
}

.navbar-link:hover {
	text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #DDD;
}

.navbar-inverse .navbar-link {
    color: #DDD;
}

.navbar-inverse .navbar-nav > li > a {
    color: #DDD;
}
